{% extends 'base.html.twig' %}

{% block title %}Return Url{% endblock %}

{% block body %}
<style>

</style>

<div class="card">
<p><a href="myApp://Accueil">Retourner à l'application</a></p>
</div>
{% endblock %}
