{% extends 'base.html.twig' %}

{% block title %}Certificateur !{% endblock %}

{% block body %}
<style>

.button {
  background-color: #001387;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

</style>

<h1 style="text-align:center">Nos certificateurs Qualiopi et RNQ</h1>
<div>
Un organisme certificateur Qualiopi, est aussi appelé organisme de certification. Il donne l’assurance écrite qu’un produit, un processus ou un service est conforme aux exigences. Ces exigences sont spécifiées dans un référentiel. Dans le cas des organismes certificateurs, le référentiel est Qualiopi – Référentiel National Qualité RNQ.

Un organisme certificateur vous assure un contrôle du référentiel et est lui même contrôlé. Il s’agit même d’une accréditation par un organisme d’État. En France c’est le COFRAC qui habilite les organismes certificateurs.

Il est à noter que pour les organismes certificateurs de Qualiopi, le référentiel est publié et contrôlé par France Compétences. Cest elle qui a mandaté le COFRAC pour l’accréditation des organismes certificateurs.

<br/>
<br/>
Nos consultants / Auditeurs peuvent vous accompagner dans le cadre de la préparation de la certification Qualiopi – Référentiel National Qualité RNQ:
<br/>
<br/>
Qualiopi : la certification RNQ (Référentiel National Qualité)
<br/>
<br/>
Conseil Qualiopi – Référentiel National Qualité (France Compétence)
<br/>
<br/>
Accompagnement Qualiopi – Référentiel National Qualité (France Compétence)
<br/>
<br/>
Certificateur Qualiopi (Organismes accrédités COFRAC)
<br/>
<br/>
Certification Qualiopi (France Compétence – COFRAC)
<br/>
<br/>
Conseil Organismes de Formation OF
<br/>
<br/>
Liste des organismes certificateurs Qualiopi
<br/>
<br/>
France Compétences

</div>

{% endblock %}
