{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div>
    <img src="/images/cfd.png"></img>

</div>
<div>
<h1 style="text-align:center; margin-left: 10%;">Bienvenue dans la plateforme de mise en relation RFCD</h1>
<p style="font-size: 20px; margin-top: 40px;margin-left: 30%;">
Obtenir un certificateur aujourd’hui est certes accessible mais obtenir le bon est devenu une vraie casse-tete.<br />

Dans cette optique que nous avons pensé à vous Organisme de formation, avec cette plateforme de mise en relation.<br />

Entrez en contact avec votre certificateur en quelques clics !
</p>
</div>
{% endblock %}
