{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    <p>Si vous avez oublié votre mot de passe, veuillez saisir votre adresse e-mail ci-dessous.</p>

    <form method="POST" action="{{ path('forgot_password') }}">
        <input type="email" name="email" placeholder="Adresse e-mail" required>
        <button type="submit">Réinitialiser le mot de passe</button>
    </form>

{% endblock %}


