{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            background-color: #001387;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .lostBlock {
            margin-left: 35%;
            border: 1px solid white;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            width: 400px; /* Largeur du cadre */
            margin-left: auto;
            margin-right: auto;
        }

        label, h1, small {
            color: black;
        }

        h1 {
            text-align: center;
        }

        button {
            background-color: black;
            color: white;
            padding: 12px 20px;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        button:hover {
            background-color: #001387;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="lostBlock">
            <h1>Vous avez oublié votre mot de passe !</h1>
            <form method="POST" action="{{ path('forgot_password') }}">
                <input type="email" name="email" placeholder="Adresse e-mail" required>
                <button type="submit">Réinitialiser</button>
            </form>
        </div>
    </div>
{% endblock %}


