{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
<style>
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

fieldset {
    margin-top : 80px;
    border : 2px solid;
    border-color: #001387;
    width : 150px;
    height : 30px;
    border-radius: 15px;
    background-color: white;
    text-align : center;
    margin-left : 45%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

h1{
  text-align: center; 
  margin-top : 10px;
}

body {
    background : #001387;
}
h1, a {
    color : white ;
}

.listeStagiaires {
   margin-left : 44%;
}

a:hover {
    color : white;
}

</style>

<h1>Liste des Stagiaires <a href="{{path('app_stage')}}" class="listeStagiaires">+</a></h1>
{% for liste in liste %}
{%if app.user.id == liste.relationuser.id %}
<table>
<fieldset>
{{liste.nom}} 
{{liste.prenom}}
<div>
{{liste.profil}}
</div>
</fieldset>
</table>
{%endif%}
{%endfor%}
<br />

{%endblock%}