<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/styles.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            
        {% endblock %}
    </head>
    <body>
    {% include "_partials/_nav.html.twig" %}
   
        {% block body %}
      

        {% endblock %}
    </body>

    <div class="footer">
{% if app.request.cookies.has('cookie_accept') and app.request.cookies.get('cookie_accept') == 'true' %}
    {# Cookie accepté, ne pas afficher le cookie banner #}
{% else %}
    {# Cookie non accepté, afficher le cookie banner #}
    <div id="cookie-banner">
        <p>Notre site utilise des cookies. En poursuivant votre navigation, vous acceptez notre utilisation des cookies.</p>
        <button id="accept-cookie">Accepter</button>
        {% block javascripts %}
            <script>
                var acceptButton = document.getElementById('accept-cookie');
                acceptButton.addEventListener('click', function() {
                    document.cookie = 'cookie_accept=true; expires=Fri, 31 Dec 9999 23:59:59 GMT';
                    document.getElementById('cookie-banner').style.display = 'none';
                });
            </script>
        {% endblock %}
    </div>
{% endif %}

       <p>  ©2022 </p>
    </div>
</html>
